html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: rgb(227, 228, 230);
}



.footer-main {
    background: #051399;
    font-family: 'Poppins';
    font-weight: 600;
}