body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url("./fonts/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: GIlroy-Light;
  src: url("./fonts/Gilroy-Light.otf");
  font-weight: 800;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
